* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

html,body {
  background-color:#efefef;
  font-family: "roboto", sans-serif;
  height:100%;
}

section {
  width: 100%;
  display:flex;
  align-items:center;
  justify-content:center;
}

a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

a {
    outline:0;
    cursor:pointer;
}

h2 {
    font-size:1.6rem;
    margin-bottom:20px;
    color:#393939;
}

h3 {
    font-size:1.1rem;
    margin:20px 0 5px 0;
    color:#393939;
}

p {
    margin:7px 0;
    font-size:0.9rem;
    color:#393939;
}

input, textarea, select {
	border: none;
	outline: 0;
	background:transparent;
	margin:10px 0;
	padding:0 15px;
}

input[type=number]::-webkit-inner-spin-button {
	opacity: 1;
	position: relative; 
	padding: 10px;
}

input:focus, textarea:focus, select:focus{
	outline: 0;
}

.num-input {
	background-color: #efefef;
	width: 200px;
	height: 40px;
	border-radius: 200px;
	box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}

.num-input:focus {
	box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
}


.select-input {
    font-size: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #efefef;
    width: 200px;
    height: 40px;
    border-radius: 200px;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}

.select-input:focus {
    box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
}




.submit-btn {
	width: 100px;
	height: 40px;
	border-radius: 100px;
	margin-top: 20px;
	border: none;
	cursor: pointer;
	box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
              -6px -6px 10px rgba(255, 255, 255, .5),
              6px 6px 8px rgba(255, 255, 255, .075),
              6px 6px 10px rgba(0, 0, 0, .15);
}

.submit-btn:active {
	box-shadow: inset -2px -2px 14px rgba(255, 255, 255, .7),
              inset -2px -2px 10px rgba(255, 255, 255, .5),
              inset 6px 6px 6px rgba(255, 255, 255, .075),
              inset 6px 6px 10px rgba(0, 0, 0, .15);
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 7%;
}

.header-sidebar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 15%;
    padding: 15px 2%;
    height:7%;
}


.upperbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 7%;
}

.logo {
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.logo-sidebar {
    margin: 15px auto 15px 15px;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.sidebar {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 15%;
  position: fixed;
  height: 100%;
  overflow: auto;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
              -6px -6px 10px rgba(255, 255, 255, .5),
              6px 6px 8px rgba(255, 255, 255, .075),
              6px 6px 10px rgba(0, 0, 0, .15);
}

.main-content {
    margin:0 0 0 15%;
    padding:0 2% 0 30px;
    height:9%;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items:center;
}

.relative-main-content {
    margin:0 0 0 15%;
    height:84%;
    padding:0 2% 0 30px;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    justify-content:center;
}

.content-box {
    display:flex;
    flex-flow:column nowrap;
    justify-content:space-between;
    border-radius: 40px;
    background: linear-gradient(145deg, #d7d7d7, #fff);
    box-shadow:  11px 11px 22px #d9d9d9, -11px -11px 22px #ffffff;
    padding:5rem 10rem;
}

.content-box .row {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-around;
    height:80%;
}

.content-box .row .col {
    display:flex;
    flex-flow:column nowrap;
    justify-content:space-between;
    align-items:center;
    overflow:scroll;
    width:100%;
    margin:5px;
}

.content-box .col a {
    text-decoration:none;
    color:#007FFF;
}

#txn-content-box {
	height:90%;
	width:95%;
}

.main-section {
    margin-bottom:50px;
}

.logo-25 {
    width:25px;
    height:25px;
    margin-right:auto;
    background-image:url('../images/logo/logo-100.png');
}

.elements a {
  display: block;
  font-weight: bold;
  margin: 10px 33px;
  color: #000;
  padding: 16px 5px;
  text-decoration: none;
  border-radius: 200px;
  text-align: left;
  font-size: 1rem;
  opacity: 0.4;
}

.nav__links {
  list-style: none;
  display: flex;
}

/* * * * * * * * * * > upperbar shadow + width + padding * * * * * * * * * */
.nav__links li a {
  width: 16px;
  padding: 6px 10px;
  margin-left: 22px;
  border-radius: 4px;
  text-decoration: none;
  box-shadow: -4px -2px 4px 0px #ffffff, 4px 2px 6px 0px #DFE4EA;
}

.nav__links li a:focus {
  box-shadow: inset -4px -2px 4px 0px #fff,
        inset 4px 2px 6px 0px #DFE4EA,
        -4px -2px 4px 0px #ffffff,
        4px 2px 6px 0px #DFE4EA;
}

.nav__links li a img {
  width: inherit;
}
/* * * * * * * * * * < * * * * * * * * * */


.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  top: 7%;
  right: 0;
  background-color: #efefef;
  box-shadow: -4px -2px 4px 0px #ffffff, 4px 2px 6px 0px #DFE4EA;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 30px;
  padding-bottom: 30px;
}

.sidepanel a {
  padding: 4px;
  text-decoration: none;
  font-size: 1em;
  color: black;
  display: block;
  transition: 0.3s;
  opacity: 0.5;
  text-align: center;
}

.sidepanel a:hover {
  opacity: 1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 7%;
  font-size: 24px;
}

.openbtn {
  font-size: 16px;
  color: black;
  padding: 0;
  border: none;
}


.id {
  display: block;
  text-align: center;
  margin: auto;
  text-decoration: none;
  color: #000;
  font-size:1.4rem;
}

.id-sidebar {
  display: block;
  text-align: center;
  margin: 5px auto auto auto;
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}



.flex-container{
  width: 100%;
  max-width: 98rem;
  padding:0 5rem;
  display:flex;
  justify-content:space-around;
  flex-flow:row wrap;
}

.flex-container {
    height: 100%;
}

.main-flex-container{
  width: 100%;
  max-width: 98rem;
  padding:0;
  display:flex;
  justify-content:space-between;
  flex-flow:row wrap;
}

.items {
    list-style:none;
    
}

.main-items {
    list-style:none;
    width:20%;
}

.description {
    width:100%;
    margin:1px;
    text-align:left;
    color:#000;
    opacity:0.8;
    font-size:0.7rem !important;
}


.link {
  display:flex;
  justify-content:space-around;
  font-size:1.4rem;
  margin: 0.8rem;
  text-decoration:none;
  color:#000;
  width: 13rem;
  height: 13rem;
  border-radius:50%;
  
  box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
              -6px -6px 10px rgba(255, 255, 255, .5),
              6px 6px 8px rgba(255, 255, 255, .075),
              6px 6px 10px rgba(0, 0, 0, .15);
}

.link .head{
  display: block;
  text-align: center;
  margin:auto;
}

.link .sub {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 1.2rem;
  opacity: 0.7;
}


.link:active{

  box-shadow: inset -2px -2px 14px rgba(255, 255, 255, .7),
              inset -2px -2px 10px rgba(255, 255, 255, .5),
              inset 6px 6px 6px rgba(255, 255, 255, .075),
              inset 6px 6px 10px rgba(0, 0, 0, .15);
}

.link-main {
    display: block;
    font-weight: bold;
    margin: 10px 11px;
    color: #000;
    padding: 16px;
    text-decoration: none;
    border-radius: 200px;
    text-align: left;
    font-size: 1rem;
    opacity: 0.6;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
              -6px -6px 10px rgba(255, 255, 255, .5),
              6px 6px 8px rgba(255, 255, 255, .075),
              6px 6px 10px rgba(0, 0, 0, .15);
    
    /*
  display:flex;
  justify-content:space-around;
  font-size:1.2rem;
  margin: 0.8rem;
  text-decoration:none;
  color:#000;
  width: 11rem;
  height: 11rem;
  border-radius:50%;
  
  box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
              -6px -6px 10px rgba(255, 255, 255, .5),
              6px 6px 8px rgba(255, 255, 255, .075),
              6px 6px 10px rgba(0, 0, 0, .15);*/
}

.link-main .head{
  display: block;
  text-align: center;
  margin:auto;
}

.link-main .sub {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 1.2rem;
  opacity: 0.7;
}

.link-main:hover:not(:focus) {
    opacity: 0.8;
    transition: all 0.3s;
}

.link-main:focus {
    opacity: 1;
  box-shadow: inset -2px -2px 14px rgba(255, 255, 255, .7),
              inset -2px -2px 10px rgba(255, 255, 255, .5),
              inset 6px 6px 6px rgba(255, 255, 255, .075),
              inset 6px 6px 10px rgba(0, 0, 0, .15);
  transition: all 0.5s;
}


#active-main {
    opacity:1;
    box-shadow: inset -2px -2px 14px rgba(255, 255, 255, .7),
                inset -2px -2px 10px rgba(255, 255, 255, .5),
                inset 6px 6px 6px rgba(255, 255, 255, .075),
                inset 6px 6px 10px rgba(0, 0, 0, .15);
}
    



.avatar {
    background-image:url('../images/background/avatar.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius:50%;
    margin-bottom:6px;
}

.avatar-sidebar {
  display: block;
  margin: auto;
  background-image:url('../images/background/avatar.png');
  background-size: 120px;
  border-radius: 50%;
  border: 4px solid #efefef;
  max-width: 120px;
  height: 120px;
  text-decoration: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius:50%;
  width: inherit;
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.5), 10px 10px 10px rgba(70, 70, 70, 0.12);
}

.avatar-sidebar:focus {
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.5), 10px 10px 10px rgba(70, 70, 70, 0.12), inset -6px -6px 15px rgba(255, 255, 255, 0.5), inset 6px 6px 15px rgba(70, 70, 70, 0.12);
  transition: all 0.1s;
}

.link img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius:50%;
  width: inherit;
}
 

.height-18 {
  height:18em;
}

.sidebar-icon:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    float: left;
    margin: 0 13px 0 5px;
}

.fxstar-sidebar:before {
  background: url("../images/sidebar/fxstar.svg") no-repeat;
}

.fxuniversity-sidebar:before {
  background: url("../images/sidebar/fxuniversity.svg") no-repeat;
}

.fxpartner-sidebar:before {
  background: url("../images/sidebar/fxpartner.svg") no-repeat;
}

.fxuniverse-sidebar:before {
  background: url("../images/sidebar/fxuniverse.svg") no-repeat;
}

.fxsonet-sidebar:before {
  background: url("../images/sidebar/fxsonet.svg") no-repeat;
}

.avatar:focus {
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.5), 10px 10px 10px rgba(70, 70, 70, 0.12), inset -6px -6px 15px rgba(255, 255, 255, 0.5), inset 6px 6px 15px rgba(70, 70, 70, 0.12);
  transition: all 0.1s;
}

.elements a:hover:not(:focus) {
  opacity: 0.6;
  transition: all 0.3s;
}

.elements a:focus {
  opacity: 1;
  box-shadow: inset -2px -2px 14px rgba(255, 255, 255, .7),
              inset -2px -2px 10px rgba(255, 255, 255, .5),
              inset 6px 6px 6px rgba(255, 255, 255, .075),
              inset 6px 6px 10px rgba(0, 0, 0, .15);
  transition: all 0.5s;
}

.elements #sidebar-active {
    opacity: 1;
  box-shadow: inset -2px -2px 14px rgba(255, 255, 255, .7),
              inset -2px -2px 10px rgba(255, 255, 255, .5),
              inset 6px 6px 6px rgba(255, 255, 255, .075),
              inset 6px 6px 10px rgba(0, 0, 0, .15);
  transition: all 0.5s;
}



/*............ social media ............*/
.socialmedia {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 20px;
}

.socialmedia a {
  margin: 0 15px;
  opacity: 0.3;
}

.socialmedia a:hover {
  opacity: 0.6;
}

.facebook {
  content: "";
  display: block;
  background: url("../images/socialpack/facebook.svg") no-repeat;
  width: 0.7em;
  height: 0.7em;
}

.instagram {
  content: "";
  display: block;
  background: url("../images/socialpack/instagram.svg") no-repeat;
  width: 0.7em;
  height: 0.7em;
}

.twitter {
  content: "";
  display: block;
  background: url("../images/socialpack/twitter.svg") no-repeat;
  width: 0.7em;
  height: 0.7em;
}

.policy {
  display: block;
  flex-flow: row nowrap;
  justify-content: center;
  list-style: none;
  position: fixed;
  bottom: 0;
  margin-bottom: 5px;
  width: inherit;
  font-size: 0.8em;
  color: #000;
  text-decoration: none;
  opacity: 0.4;
}

.policy a {
    text-decoration:none;
    font-weight:bold;
    color:#000;
}

.policy a:hover {
    opacity:1;
}

.copyright {
  font-weight: bold;
  font-size: 0.7rem;
  color: #000;
  text-decoration: none;
  opacity: 0.2;
  display:block;
}


/*** MOBILE VIEW ***/

@media (max-width:1454px) {
    .elements a {
	font-size:0.9rem;
	margin:10px 11px;
    }
    .sidebar-icon::before {
	margin: 0 6px 0 5px;
    }
}


@media (max-width:1036px) {
    .link-main {
	font-size:0.8rem;
    }
}

@media (min-width:629px) {
    
    .footer {
	width:100%;
	height:auto;
	padding-top:5px;
	padding-bottom:10px;
	background:#efefef;
	border-top:1px solid #dfdddd;
	text-align:center;
	color:#939393;
	position:fixed;
	bottom:0;
	left:0;
	font-size:0.8rem;
    }

    .main-content-mob {
	display:none;
    }

    
}

@media (max-width: 628px) {
    .mobile-main {
margin-bottom:70px;
}
  .upperbar {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 30px 7%;
  }
  
  .flex-container {
    padding: 0 0;
    margin-bottom: 20px;
  }
  
  .id {
    font-size: 1.2em;
  }
  .link {
    font-size: 1.2em;
    width: 10rem;
    height:10rem;
  }
  .link .sub {
    font-size: 0.9em;
  }

  .height-18 {
    height:13em;
  }
  .footbar {
	background-color: #efefef;
	overflow: hidden;
	border-top:1px solid #dfdddd;
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
	height:50px;
	display:flex;
	justify-content:space-between;
  }
.header {
padding:0;
margin: 0 0 20px 0;
display: block;
height: 50px;
}
.header nav {
width:100%;
}
  
  .header-sidebar {
      padding:0;
      margin:0 0 20px 0;
      display:block;
height:50px;
  }

  .header-sidebar nav {
      width:100%;
  }

  
  .sidebar {
	display:none;
  }

  .main-content {
      display:none;
  }

  .relative-main-content {
      margin:0;
      height:86%;
      padding:0;
  }

  .content-box {
      width:95%;
      margin:auto;
      padding:2em;
  }

  

  
  .description {
      display:none;
      /*margin:auto;
      margin-top:2em;
      width:95%;*/
  }

  .main-content-mob {
      margin:auto auto 50px auto;
      padding:0;
      width:100%;
      display:flex;
      flex-flow:row wrap;
      justify-content: space-around;
      align-items:center;
      
  }

  .main-flex-container {
      flex-flow: column wrap;
  }

  .main-items {
      width:100%;
  }

  .nav__links {
      justify-content:space-between;
display:flex;
position:fixed;
align-items:center;
background-color:#efefef;
height:50px;
width:100%;
border-bottom:1px solid #dfdddd;
  }
  
  .nav__links li {
      padding:0;
      margin:10px;
  }

.nav__links li a {
box-shadow:none;
margin:0;
}

.nav__links li a:focus {
box-shadow:none;
}

  #page-header {
      font-weight:bold;
      opacity:0.5;
      text-decoration:none;
      color:black;
  }

    .sidebar-m {
    display: block;
    align-items: left;
    font-weight: bold;
    margin: 0;
    color: #000;
    padding: 16px 5px;
    text-decoration: none;
    border-radius: 200px;
    text-align: left;
    font-size: 1rem;
    opacity: 1;
  }

  .sidebar-m a {
    padding: 10px;
    text-align: left;
  }

  .sidepanel  {
    width: 0;
    position: fixed;
    height: 100%;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #efefef;
    box-shadow: -4px -2px 4px 0px #ffffff, 4px 2px 6px 0px #DFE4EA;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .avatar-m {
    display: block;
    margin: auto;
    background:url('../images/background/avatar.png');
    background-size: 120px;
    border-radius: 50%;
    border: 4px solid #efefef;
    max-width: 120px;
    height: 120px;
    text-decoration: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius:50%;
    width: inherit;
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.5), 10px 10px 10px rgba(70, 70, 70, 0.12);
  }

  .id-sidebar-m {
    display: block;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    color: #000;
    font-size: 1rem;
  }


  .menu-info a{
    margin-bottom: 5px;
  }

  .socialmedia {
    margin: 10px 35px;
    justify-content: space-around;
  }

  .socialmedia a {
    width: 12px;
    height: 12px;
    margin: 0;
  }
}

@media (max-width: 374px) {
  .link {
    width: 8rem;
    height:8rem;
  }
  

  .height-18 {
    height:10em;
  }
}
