input, textarea, select {
	border: none;
	outline: none;
}

input[type=number]::-webkit-inner-spin-button {
	opacity: 1;
	position: relative; 
	padding: 10px;
}

input:focus, textarea:focus, select:focus{
	outline: none;
}

.form {
	padding-left: 25px;
	background-color: #efefef;
	width: 100px;
	height: 40px;
	border-radius: 200px;
	box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}

.form:focus {
	box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
}

.submit {
	width: 100px;
	height: 40px;
	border-radius: 100px;
	border: none;
	cursor: pointer;
	box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
              -6px -6px 10px rgba(255, 255, 255, .5),
              6px 6px 8px rgba(255, 255, 255, .075),
              6px 6px 10px rgba(0, 0, 0, .15);
}

.submit:active {
	box-shadow: inset -2px -2px 14px rgba(255, 255, 255, .7),
              inset -2px -2px 10px rgba(255, 255, 255, .5),
              inset 6px 6px 6px rgba(255, 255, 255, .075),
              inset 6px 6px 10px rgba(0, 0, 0, .15);
}